<h1>What should the shark eat?</h1>

<form action="/" method="POST">
	<textarea type="text" name="event"></textarea>

	<button type="submit">Submit</button>
</form>						


<div id="eat">
	
	{{#each food}}
	{{#unless this.devoured}}
		<p>{{this.id}}. {{this.item}} </p>
		
	<form action="/devoured/{{this.id}}" method="POST">
		<input type="hidden" name="id" value="{{this.id}}">
		<button type="submit">Devour it!</button>
	</form>			
	{{/unless}}	
	{{/each}}
</div>

<div id="eaten">
<h3>See what is in the shark's stomach</h3>
	<ul>
		{{#each food}}
		{{#if this.devoured}}
			<li>
				<p>{{this.id}}. {{this.item}} </p>
			</li>
		{{/if}}
		{{/each}}
	</ul>
</div>	
